<% provide(:title, @user.fio) %>
<div >
      <h1>
        <%= fio @user%>
        <br/>лицевой счет:
        <%= @user.Account %>
        
        <%= @user.email %>
      </h1>
	  <% if @user.apartment != nil then %>
	  <h2>
	  <%= apartment_info @user.apartment%>
	  </h2>
	  <h3>Показания счетчиков</h3>
	  <%=render :partial => "counters/monthly_reading", :collection => @monthly_readings%>
	  <%end%>
</div>
