<% provide(:title, 'Создание новости') %>
<h1>Новость...</h1>

<div class="row">
  <div>
    <%= form_for(@news) do |f| %>        

        <%= f.label :title, 'Заголовок' %>
        <%= f.text_field :title %><br/>

        <%= f.label :content, 'Содержание' %>
        <%= f.text_area :content %><br/>

        <%= f.label :picture,'Фото' %>
        <%= f.file_field :picture %><br/>

        <%= f.submit "Сохранить" %>
    <% end %>
  </div>
</div>
