<% provide(:title, 'Добавление документа') %>
<h1>Новый документ</h1>

<div class="row">
  <div>
    <%= form_for(@document) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :title, 'Заголовок' %>
        <%= f.text_field :title %><br/>

        <%= f.label :doc,'Документ' %>
        <%= f.file_field :doc %><br/>

        <%= f.submit "Сохранить" %>
    <% end %>
  </div>
</div>
